{{ csrf_input() }}
<div class="row">
  <div class="col-md-4">
  {{ field('episode_num',item.episodeNum,"Numero de l'episode") }}
  </div>
  <div class="col-md-4">
    {{ field('slug', item.slug, "Lien") }}
  </div>
    <div class="col-md-4">
    {{ field('name', item.name, "Nom") }}
  </div>
  {{ field('created_at',item.createdAt,"Date de création",{ class:'datepicker' }) }}
</div>

